<!DOCTYPE html>
<html lang="en" xmlns = "http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create a new question</title>
</head>
<body>
    <h2> Please create a new quesetion </h2>

    <form method = "post">
        <div>
            <label for = "title"> Title </label>
            <input name = "title" type = "text" />
        </div>
        <div>
            <label for = "question"> Question </label>
            <input name = "question" type = "text" />
        </div>
        <div>
            <label for = "answer"> answer </label>
            <input name = "answer" type = "text" />
        </div>
        <div>
            <button type = "submit"> Submit Question </button>
        </div>
    </form>

</body>
</html>